@{
    ViewData["Title"] = "Home Page";
}
<div class="text-centre">
    <h1 class="display-4">Welcome</h1>
</div>
<form action="Home/DoLogin">
    <div>
        <div>
            <label for="txtUser">User Name:</label>
            <input type="text" id="txtUser" required placeholder="Enter UserID" />
        </div>
        <div>
            <label for="txtpwd">Password:</label>
            <input type="password" id="txtpwd" required placeholder="Enter Password" />
        </div>
        <div>
            <input type ="submit" value="Login" />
        </div>
    </div>

</form>

<div>
    <a href="Home/Sayhello?SubbaReddy">SayHello</a>
</div>
<div>
    <a href="Home/Add?x=100&y=30">Add</a>
</div>
<div>
    <a href="Home/Multiply?x=100&y=30">Multiply</a>
</div>
<div>
    <a href="Home/AddNewBook">New Book </a>
</div>
<div>
    <a href="Home/ListAllBook">All Books</a>
</div>
<div>
    <a href="Author/">Author List</a>
</div>

<div>
    <a href="Home/EmpList">Employee List</a>
</div>
<div>
</div>
    <a href= "Movie">Movie List</a>



